// ul{list-style-type: none;}
// a{text-decoration: none;}
// NESTIN O ANIDAMIENTO
header{
    background-color:$colorTerciario;
    nav{
        padding:10px;
        ul{
            display: flex;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    font:{
                        size:$pDesktop;
                        family:"tahoma";
                        weight: bold;
                        }    
                    }   &:hover {
                    color: goldenrod;
                }  
            }
        }            
    }
}

// &:hover --- a:hover